In [5]:
########################################################################################################################
# Loading data
########################################################################################################################
# Importing Dependencies with the function to improve performance of the process
import pandas as pd
from lib.etl import DatabaseETL
etl = DatabaseETL('../parameters/config.json')

data = pd.read_csv ("../data/Orders.csv")
etl.write_to_sql(data, 'Orders')
etl.close()

In [6]:
test = etl.read_sql("SELECT TOP 10 * FROM Orders")
test
etl.close()
test.head()

        Date OrderNumber  CustomerName  Revenue  PartCost PartNumber
0  7/13/2021    ORD10001  Customer_118  1245.25    553.99    PART193
1  7/13/2021    ORD10001  Customer_118  1284.77    396.69     PART10
2  7/13/2021    ORD10001  Customer_118  1794.37    964.39     PART88
3  7/13/2021    ORD10001  Customer_118  1604.28    538.32    PART194
4  7/13/2021    ORD10001  Customer_118   846.29    839.36     PART89